@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style-type: none;
            font-family: 'Roboto Mono', monospace;
        }
        :root{
            --main-color: #FACD48; 
        }
        .resume{
            width: 80%;
            border-radius: 20px;
            margin: 20px auto;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        }
        .header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 50px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: var(--main-color);
        }
        .header h2, form h2{
            margin-bottom: 20px;
        }
        .header ul{
            column-count: 2;
            column-gap: 0px;
        }
        .header ul a {
            text-decoration: none;
            color: black;
        }
        .header ul li{
            cursor: pointer;
            user-select: none;
            line-height: 2;
        }
        ul > li i,
        ul > li span{
            font-size: 20px;
        }
        .profile-pics{
            flex-shrink: 0;
            width: 130px;
            height: 130px;
            border-radius: 50%
        }
        .profile-pics img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
        .body{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 50px 50px 20px;
            background-color: black;
            color: white;
            gap: 40px;
        }
        hr{
            border-top: 1px solid #FACD48;
        }
        
        dl{
            flex: 50%;
        }
        dt{
            color: var(--main-color);
            margin-bottom: 10px;
            font-weight: bolder;
            padding: 10px;
            border-bottom: 1px solid #FACD48;
        }
        dd{
            margin: 10px 0;
        }
        .pp > div{
            margin: 10px 0;
        }
        .pp > div >small::before{
            display: inline-block;
            content: ' ';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: var(--main-color);
            text-indent: 20px;
            margin-right: 10px;
        }
        .Education > div{
            margin: 10px 0;
        }
        .Education > div > div{
            display: flex;
            justify-content: space-between;
            color: var(--main-color);
            font-size: smaller;
            margin-top: 10px;
        }
        .skill{
            display: flex;
            gap: 20px;
            margin: 7px 0;
            font-size: small;
        }
        .skill > div{
            flex: 50%;
        }
        .progress-bar{
            display: flex;
            justify-content: flex-end;
        }
        .progress-bar .progress1{
            border-radius: 5px;
            position: relative;
            height: 5px;
            background-color: whitesmoke;
            align-self: center;
        }
        .progress-bar .progress1::after{
            position: absolute;
            top: -100%;
            right: 0;
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 70%;
            background-color: var(--main-color);
        }
        .progress-bar .progress2{
            height: 2px;
            background-color: wheat;
            align-self: center;
            border-radius: 2px;
        }
        .hobbies{
            display: flex;
            gap: 20px;
            justify-content: center;
        }
        .hobbies span{
            color: var(--main-color);
            display: block;
            margin: 5px auto;
        }
        form{
            background-color: black;
            padding: 50px 50px 20px;
        }
         form h2{
            text-align: center;
            color: var(--main-color);
         }
        .input-group{
            display: flex;
            justify-content: space-between;
            gap: 30px;
            margin: 5px 0;
        }
        .input-group > .input-field{
            flex: 50%;
            margin: 10px 0;
        }
        form p{
            font-size: 14px;
            margin: 8px;
            color: var(--main-color);
        }
        .input-group .input-field input, textarea{
            width: 100%;
            padding: 10px 7px;
            border: none;
            outline: none;
            border-radius: 10px;
            background-color: rgb(51, 50, 50);
            color: white;
        }
        textarea{
            height: 200px;
            resize: none;
        }
        form button,
        .block a{
            display: block;
            background-color: var(--main-color);
            width: 60%;
            padding: 7px;
            margin: 15px auto;
            text-align: center;
            border: none;
            outline: none;
            border-radius: 9px;
            text-decoration: none;
            color: black;
        }
        .block{
            margin: 30px auto;
            padding: 20px;
            text-align: center;
            width: 70%;
            background-color: black;
            color: white;
            border-radius: 20px;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        }
        .block strong{
            color: var(--main-color);
        }
        .block img {
            display: block;
            width: 200px;
            height: auto;
            object-fit: contain;
            margin: 20px auto;
        }
        .block .input-field label{
            text-align: left;
        }
        footer{
            color: rgb(156, 153, 153);
            background-color: black;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 5px 15px;
        }
        footer a{
            color: wheat;
            text-decoration: none;
        }
        @media screen and (max-width: 950px){
            .header ul{
                column-count: 1;
            }
        }
        @media screen and (max-width: 750px){
            .resume{
                width: 100%;
                margin: 0;
                border-radius: 0:   
            }
            .header{
                width: 100%;
                display: block;
                padding: 35px;
                position: relative;
                border-top-left-radius: 0;
                border-top-right-radius: 0; 
            }
            .header h2{
                margin-bottom: 15px;
            }
            .profile-pics{
                position: absolute;
                top: 35px;
                right: 35px;
                width: 100px;
                height: 100px;
            }
            .body{
               display: block;
               padding: 30px 30px 15px;
            }
            form{
               padding: 30px 30px 15px;
            }
            .input-group{
               display: block;
               width: 100%;
            }
            .input-group > .input-field{
               width: 100%;
            }
               footer{
            border-radius: 0;
           }
           .block{
            margin: 0;
            width: 100%;
            border-radius: 0;
            box-shadow: 0;
        }
        .block img {
            display: block;
            width: 200px;
            height: auto;
            object-fit: contain;
            margin: 20px auto;
        }
        }
