<%- include('./partials/header.ejs')%>
<body>
    <div class="resume">
        <div class="header">
            <div>
              <h2>Agbo Francis</h2>
              <ul>
                  <li><i class="fa fa-calendar"></i> 28 August 2000</li>
                  <li><a href="facebook.com/Francis Agbo"><i class="fa fa-facebook" style="font-size: 20px;"></i> Francis Agbo</a></li>
                  <li><a href="Linkedin/in/agbo frank"><i class="fa fa-linkedin" style="font-size: 20px;"></i> agbo frank</a></li>
                   <li><i class="fa fa-mobile" style="font-size: 30px;"></i> 09061588791</li>
                  <li><a href="mailto:agbofrank531@gmail.com"><i class="fa fa-envelope-o" style="font-size: 20px;"></i> agbofrank531@gmail.com</a></li>
                  <li><i class="fa fa-map-marker"></i> Port Harcourt, Rivers, Nigeria</li>
              </ul>
            </div>
            <div class="profile-pics">
                <img src="Snapchat-1945986070.jpg">
            </div>
        </div>
        <div class="body">
            <dl>
                <dt>Profile</dt>
                <dd>
                    i am a driven individual with the ability to adapt to any sitution 
                    and proven potential to grow self and other.  
                </dd>
                <dt>Personal Project</dt>
                <dd class="pp">
                    <div>
                        <p><strong>Simple Calulator(2021)</strong></p>
                        <small>Bulit a simple calculator using HTML Java Script and css</small>
                    </div>
                    <div>
                        <p><strong>Music player(2021)</strong></p>
                        <small>Made simple player using HTML Java Script and css</small>
                    </div>
                    <div>
                        <p><strong>Headiz (E-commence site)(2021)</strong></p>
                        <small>i was the frontEnd developer that built Headiz website. 
                            A site where one can buy and sell Human Hair,
                             Wigs, MakrUp kits and other assecories</small>
                    </div>
                    
                </dd>
                <dt>Education</dt>
                <dd class="Education">
                    <div>
                        <strong>Western African Examination Council</strong>
                        <p>Shalom Academy Nsukka (SAN)</p>
                        <div>
                            <small><i class="fa fa-calendar"></i> 2011-2017</small>
                            <small><i class="fa fa-map-marker"></i> Nsukka Enugu, Nigeria</small>
                        </div>
                    </div>
                    <div>
                        <strong>Petroleum Engineering</strong>
                        <p>University Of Port Harcourt</p>
                        <div>
                            <small><i class="fa fa-calendar"></i> 2017-present</small>
                            <small><i class="fa fa-map-marker"></i> Port Harcourt Rivers, Nigeria</small>
                        </div>
                    </div> 
                </dd>
            </dl>
            <dl>
                <dt>Skills</dt>
                <h4>Development Skills</h4>
                <dd>
                    <div class="skill">
                        <div>Java script</div>
                        <div class="progress-bar">
                            <div class="progress1" style="width: 60%;"></div>
                            <div class="progress2" style="width: 40%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div>CSS <i class="fa fa-css3" aria-hidden="true"></i></div>
                        <div class="progress-bar">
                            <div class="progress1" style="width: 80%;"></div>
                            <div class="progress2" style="width: 20%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div>HTML <i class="fa fa-html5"></i></div>
                        <div class="progress-bar">
                            <div class="progress1" style="width: 90%;"></div>
                            <div class="progress2" style="width: 10%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div>Node js</div>
                        <div class="progress-bar">
                            <div class="progress1" style="width: 40%;"></div>
                            <div class="progress2" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <div>React js</div>
                        <div class="progress-bar">
                            <div class="progress1" style="width: 30%;"></div>
                            <div class="progress2" style="width: 70%;"></div>
                        </div>
                    </div>
                </dd>
                <h4>Language</h4>
                <dd>
                    <div class="skill">
                        <div>English</div>
                        <div class="progress-bar">
                            <div class="progress1" style="width: 80%;"></div>
                            <div class="progress2" style="width: 20%;"></div>
                        </div>
                    </div>    
                        <div class="skill">
                            <div>Igbo</div>
                            <div class="progress-bar">
                                <div class="progress1" style="width: 40%;"></div>
                                <div class="progress2" style="width: 60%;"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div>Yoruba</div>
                            <div class="progress-bar">
                                <div class="progress1" style="width: 65%;"></div>
                                <div class="progress2" style="width: 35%;"></div>
                            </div>
                        </div>
                </dd>
                <dt>Hobbies</dt>
                <dd class="hobbies">
                    <div>
                        <span class="material-icons">audiotrack</span>
                        <p>Music</p>
                    </div>
                    <div>
                        <span class="material-icons">code</span>
                        <p>coding</p>
                    </div>
                </dd>
            </dl>
        </div>
        <hr>
        <form method="POST" action="/success">
            <div class="input-group">
                <div class="input-field">
                    <label for="fname">
                        <p>First name</p>
                        <input type="text" name="fname">
                    </label>
                </div>
                <div class="input-field">
                    <label for="lname">
                        <p>last name</p>
                        <input type="text" name="lname">
                    </label>
                </div>
            </div>
            <div class="input-group">
                <div class="input-field">
                    <label for="email">
                        <p>Email</p>
                        <input type="email" name="email">
                    </label>
                </div>
                <div class="input-field">
                    <label for="Pnumber">
                        <p>Phone Number</p>
                        <input type="number" name="pnumber">
                    </label>
                </div>
            </div>
            <label for="message">
                <p>Message</p>
                <textarea class="input-field" name="message"></textarea>
            </label>
            <button type="submit">Submit</button>
        </form>
        <%- include('./partials/footer.ejs')%>
    </div>
    <script src="app.js"></script>
</body>
</html>