<%- include('./partials/header.ejs')%>
<body>
<div class="block">
    <img src="party popper.jpg">
    <h3>Thank you!</h3>
    <p>Thank you for your message we will reach out to you on your 
        email <strong><%= data.email %></strong> and a SMS will be 
        sent to your number <strong><%= data.pnumber %></strong></p>
    <a href="/">Continue</a>
</div>
</body>
</html>